.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 48px;
    background: inherit;
    border: 1px solid #E2E3E5;
    border-radius: 6px;
    cursor: pointer;

}

.digital {
    width: 72px;
}

.wide {
    width: 152px;
}

.equels {
    width: 100%;
    height: 64px;
    background: #5D5FEF;
    color: #fff;
}