.display {

    &__inner {
        height: 52px;
        padding: 4px 8px;
        background: #F3F4F6;
        border-radius: 6px;
        color: #111827;
        text-align: right;
        font-weight: 800;
        font-size: 36px;
        line-height: 44px;
    }
}

.fz-24 {
    font-size: 24px;
}

.fz-19 {
    font-size: 19px;
}

