.app {
    padding: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;

    &__content {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 240px 243px;
        column-gap: 56px;
        row-gap: 30px;
        width: 540px;
    }
}

.switch-bar_wrapper {
    grid-column: 2 / 3;
}

.trans {
    opacity: 0.5;
}