.app {
    padding: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;

    &__content {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 240px 243px;
        column-gap: 56px;
        row-gap: 30px;
        width: 540px;

        @media (max-width: 570px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.switch-bar_wrapper {
    grid-column: 2 / 3;
}

.description {
    grid-column: 1 / 3;
    padding: 10px;
    color: #111827;
    background: #F3F4F6;

    border-radius: 6px;

    &__title {
        color: #5D5FEF;
        margin-bottom: 15px;
    }
}

.css-fix {
    white-space: pre-wrap; /* or pre-line */
}