.canvas {
    &-board {
        display: flex;
        flex-direction: column;
        width: 240px;
        height: 448px;
        border-radius: 6px;
    }

    &-content {
        width: 127px;
        text-align: center;
    }

    &-img {
        margin-bottom: 12px;
    }

    &-title {
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 17px;
        color: #5D5FEF;
    }

    &-text {
        font-size: 12px;
        line-height: 15px;
        color: #6B7280;
    }
}

.empty {
    display: flex;
    justify-content: center;
    border: 2px dashed #C4C4C4;
    align-items: center;
}

.green {
    background: #F0F9FF;
}

.dragged-on::before {
    position: absolute;
    top: -14px;
    left: -6px;
    content: url(../../assets/line.svg)
}


.dragged-on-after::after {
    position: absolute;
    bottom: -9px;
    left: -6px;
    content: url(../../assets/line.svg)
}

